html, body{
    overflow: auto;
    /* background-color: black; */
    /* max-width: 1200px;
    width: 100%;
    margin: auto; */
}
#home-all{
    max-width: 1200px;
    width: 100%;
    margin: auto;
  }
  #content{
    min-height: 100vh;
    /* border-right: solid 1px #ebeef0; */
  }

