#content{
    padding-top: 40px;
    padding-bottom: 40px;
    cursor: default;
}
#profile-card{
    color: black;
    /* text-align: center; */
    width: 95%;
    max-width: 600px;
    background-color: #F5F5F5;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 60px;
}
#card-info{
    padding: 20px 30px;
    border-radius: 10px;
}
#user-action{
    float: right;
    /* color: black; */
    /* color: var(--main-color); */
}
#like-bg{
    position: absolute;
    bottom: -46px;
    left: 28px;
    font-size: 60px;
    color: #f5f5f5;
}
#like-act{
    position: absolute;
    bottom: -39px;
    left: 33px;
    font-size: 50px;
    color: #00000061;
}

#like-act:hover{
    cursor: pointer;
}

.liked{
  color: var(--second-color)!important;  
}
.act-icons{
    color: black;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 20px;
    opacity: 1;
}
.act-icons:hover{
    opacity: .7;
    cursor: pointer;
}
#rating{
    padding-top: 20px;
    margin-left: auto;
}
#prf-name-cnt{
    width: 100%;
    margin-bottom: -10px;
    display: flex;
}
#prf-name{
    max-width: 60%;
    margin-top: 7px;
    font-size: 30px;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#prf-age{
    margin-top: 7px;
    font-size: 30px;
    font-weight: 700;
}

.usr-gender{
    font-size: 30px;
    margin-top: 17px;
    margin-left: 15px;
}

#sta-cnt{
    margin-top: -2px;
}
#usr-state{
    font-size:12px;
    margin-left: 20px;
}
#usr-state i{
    font-size: 5px;
}
#prf-username{
    width: 100%;
}

#prf-bio{
    word-wrap: break-word;
    width: 100%;
    margin-top: 12px;
}

.prf-txts{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#interest{
    /* width: 80%;
    margin: auto;
    text-align: center; */
    margin-top: 5px;
}
#interest span{
    font-weight: 600;
}
.usr-int{
    margin-left: 5px;
    font-size: 20px;

}
#tags{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#single-tag{
    background-color: white;
}
.hero-body{
    padding: 0;
    max-height: 600px;
    border-radius: 10px 10px 0px 0px;
    /* overflow: hidden; */
}
.crsl-img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
#prf-images{
    /* background-color: red; */
    padding: 0;
    position: relative;
}
#nf-info{
    text-align: center;
}
#nf-img{
    width: 70%;
    max-width: 200px;
    /* height: 200px; */
    border-radius: 50%;
    margin-top: 20px;
}
#nf-msg{
    font-size: 30px;
    font-weight: 600;
    color: #6f6969;
    padding-bottom: 20px;
}

#inf-rt{
    display: flex;
}
@media (max-width: 800px)
{
    #rating{
        display: block;
    }
    #inf-rt{
        display: block;
    }
    #prf-name,#prf-age{
        font-size: 1.5rem;
    }
    .usr-gender{
        font-size: 1.5rem;
        margin-top: 15px;
    }
    #rating{
        padding-top: 10px;
    }
    #prf-name{
        max-width: 70%;
    }
}